@font-face {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/roboto-condensed/roboto-condensed-v19-latin-300.tff);
    src: local(""), url(../fonts/roboto-condensed/roboto-condensed-v19-latin-300.tff?=#iefix) format("embedded-opentype"), url(../fonts/roboto-condensed/roboto-condensed-v19-latin-300.woff2) format("woff2"), url(../fonts/roboto-condensed/roboto-condensed-v19-latin-300.woff) format("woff"), url(../fonts/roboto-condensed/roboto-condensed-v19-latin-300.ttf) format("truetype"), url(../fonts/roboto-condensed/roboto-condensed-v19-latin-300.svg#RobotoCondensed) format("svg")
}

@font-face {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/roboto-condensed/roboto-condensed-v19-latin-regular.tff);
    src: local(""), url(../fonts/roboto-condensed/roboto-condensed-v19-latin-regular.tff?=#iefix) format("embedded-opentype"), url(../fonts/roboto-condensed/roboto-condensed-v19-latin-regular.woff2) format("woff2"), url(../fonts/roboto-condensed/roboto-condensed-v19-latin-regular.woff) format("woff"), url(../fonts/roboto-condensed/roboto-condensed-v19-latin-regular.ttf) format("truetype"), url(../fonts/roboto-condensed/roboto-condensed-v19-latin-regular.svg#RobotoCondensed) format("svg")
}

@font-face {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/roboto-condensed/roboto-condensed-v19-latin-700.tff);
    src: local(""), url(../fonts/roboto-condensed/roboto-condensed-v19-latin-700.tff?=#iefix) format("embedded-opentype"), url(../fonts/roboto-condensed/roboto-condensed-v19-latin-700.woff2) format("woff2"), url(../fonts/roboto-condensed/roboto-condensed-v19-latin-700.woff) format("woff"), url(../fonts/roboto-condensed/roboto-condensed-v19-latin-700.ttf) format("truetype"), url(../fonts/roboto-condensed/roboto-condensed-v19-latin-700.svg#RobotoCondensed) format("svg")
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/open-sans/open-sans-v27-latin-regular.tff);
    src: local(""), url(../fonts/open-sans/open-sans-v27-latin-regular.tff?=#iefix) format("embedded-opentype"), url(../fonts/open-sans/open-sans-v27-latin-regular.woff2) format("woff2"), url(../fonts/open-sans/open-sans-v27-latin-regular.woff) format("woff"), url(../fonts/open-sans/open-sans-v27-latin-regular.ttf) format("truetype"), url(../fonts/open-sans/open-sans-v27-latin-regular.svg#OpenSans) format("svg")
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/open-sans/open-sans-v27-latin-700.tff);
    src: local(""), url(../fonts/open-sans/open-sans-v27-latin-700.tff?=#iefix) format("embedded-opentype"), url(../fonts/open-sans/open-sans-v27-latin-700.woff2) format("woff2"), url(../fonts/open-sans/open-sans-v27-latin-700.woff) format("woff"), url(../fonts/open-sans/open-sans-v27-latin-700.ttf) format("truetype"), url(../fonts/open-sans/open-sans-v27-latin-700.svg#OpenSans) format("svg")
}

@font-face {
    font-family: Open Sans;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/open-sans/open-sans-v27-latin-italic.tff);
    src: local(""), url(../fonts/open-sans/open-sans-v27-latin-italic.tff?=#iefix) format("embedded-opentype"), url(../fonts/open-sans/open-sans-v27-latin-italic.woff2) format("woff2"), url(../fonts/open-sans/open-sans-v27-latin-italic.woff) format("woff"), url(../fonts/open-sans/open-sans-v27-latin-italic.ttf) format("truetype"), url(../fonts/open-sans/open-sans-v27-latin-italic.svg#OpenSans) format("svg")
}

h1, h2, h3, h4, h5 {
    font-family: Roboto Condensed, Arial, sans-serif;
    color: #3a5368 !important;
}

p, span, div, button, td, th {
    font-family: Open Sans, sans-serif;
}

#app {
    font-family: Open Sans, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #3a5368;
}

.button-submit {
    margin-right: 1rem;
    margin-top: 1rem;
}

.content {
    margin-top: 20px;
}

.confirm-action {
    margin-top: 2rem;
}

.v-alert {
    margin: 0 0 20px 0;
}

.appointment-number {
    font-size: 20px;
    padding: 10px 0;
}

.popup-content {
    font-size: 18px;
    padding: 20px;
}


.calendar-container {}

.v-btn--rounded {
    border-radius: 0.25rem;
    width: 100% !important;
}

.v-date-picker-table tbody .v-btn {
    background: #005A9F;
    color: #fff;
}

.v-date-picker-table tbody .v-btn.v-btn--disabled {
    background: #cccccc;
}

.v-card {
    text-align: center;
}

.v-card__text {
    overflow-y: scroll;
    padding: 0 !important;
    max-height: 12rem;
}

.select-appointment {
    padding: 0.5rem 0;
}

.v-picker {
    margin-top: 0 !important;
}

.select-appointment:hover {
    background: #F2F6FA;
}

.preselected-appointment,
.select-appointment {
    cursor: pointer;
}

.v-alert {
    color: #fff !important;
    margin: 10px;
}

.p-0 {
    padding: 0;
}

.button-next {
    margin-top: 4rem;
}

.filtered-service {
    cursor: pointer;
}

.subservices .v-list-item {
    border-bottom: #ccc solid 1px;
    padding-left: 0;
}

.subservices .v-card__actions {
    padding-left: 0;
}

h3 {
    margin-top: 2rem;
}

.v-menu__content {
    margin-left: 1rem;
}

.appointment-count {
    margin: 0 0.5rem;
}

.appointment-count-button {
    height: 2rem !important;
    width: 2rem !important;
}

.appointment-count-button .v-icon {
    height: 1rem !important;
    width: 1rem !important;
}

.theme--light.v-btn.v-btn--has-bg.button-next,
.theme--light.v-btn.v-btn--has-bg.button-submit {
    background: #005A9F;
}

.v-dialog__container {
    display: block;
}

.appointment-container {
    padding: 12px 0;
}

.appointment-container-title {
    padding: 12px 0;
}

.appointment-container-subtitle {
    padding: 6px;
    margin-bottom: 12px;
    background: #F2F6FA;
}

.time-hour {
    position: absolute;
    left: 0;
    font-size: 14px;
    line-height: 34px;
}

.appointments-in-hours {
    width: 100%;
    padding-left: 22%;
    float: left;
    position: relative;
    border-bottom: #BDD4EA solid 1px;
    margin-bottom: 5px;
}

.select-appointment {
    border: #005A9F solid 1px;
    color: #005A9F;
    padding: 4px 6px;
    margin-right: 8px;
    margin-bottom: 8px;
    float: left;
}

.v-date-picker-table tbody .v-btn,
.v-date-picker-table tbody .v-btn.v-btn--disabled {
    background: #ffffff;
    font-size: 14px;
    color: #005A9F;
    border-radius: 0;
}

.v-date-picker-table tbody .v-btn.v-btn--active {
    background: #005A9F;
    font-size: 14px;
    color: #ffffff;
}

#appointments {
    width: 592px;
    margin: 0 auto;
}

.v-picker__body {
    width: 592px !important;
    border: #BDD4EA solid 1px;
    padding: 0 0 20px;
    margin: 20px auto 10px !important;
    border-radius: 0 !important;
}

.v-date-picker-header,
.v-date-picker-table {
    padding-left: 0;
    padding-right: 0;
}

.v-date-picker-header {
    border-bottom: #BDD4EA solid 1px;
    background: #F2F6FA;
}

.theme--light.v-date-picker-table tbody {
    border-top: #BDD4EA solid 1px;
}

.theme--light.v-date-picker-table {
    border-collapse: collapse;
}

.theme--light.v-date-picker-table thead th {
    border-bottom: #BDD4EA solid 1px;
}

.v-date-picker-table td,
.v-date-picker-table th {
    padding: 2px 18px;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .time-hour {
        font-size: 12px;
    }

    .v-picker__body {
        width: 100% !important;
    }

    #appointments {
        width: 100%;
        margin: 0 auto;
    }

    .v-date-picker-table td,
    .v-date-picker-table th {
        padding: 2px 8px;
    }
}

.v-messages.error--text .v-messages__message {
    color: #B71C1C;
}

.v-select__selections {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}